@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$font-noto: "Noto Sans JP", serif;
$font-dm: "DM Serif Text", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  font-size: min(10px, 2.4vw);
}

body {
  font-family: $font-noto;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.header, .footer,menu, .contact1, .action-buttons, .contact-phone,.sec-one {
    margin: 0 auto;
}
.action-buttons {
    position: fixed;
    right: 0;
    top: 20rem;
    z-index: 90;
   

    display: flex;
    flex-direction: column;
    row-gap: 0.8rem; 

    .container {
        .content {
          display: flex;
        flex-direction: column;
        gap: 0.8rem;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                gap: 0.8rem; 
                padding: 1.6rem 1.2rem 2rem 1.2rem;
                padding: 1.8rem 1.2rem; 
                border-radius: 1.6rem 0 0 1.6rem; 
                font-family: "Oswald", sans-serif;
                text-decoration: none;

                img {
                    width: 2.4rem; 
                    height: 2.4rem; 
                    aspect-ratio: 1;
                }

                .btn-img {
                    display: none;
                }

                span {
                    font-size: 1.4rem;
                    line-height: 1.5;
                    letter-spacing: 0.042rem; 
                    font-weight: 600;
                    
                }

                small {
                    color: black;
                    padding: 0 0.8rem; 
                    font-weight: 700;
                    display: inline-block;
                    background: #ffe344;
                    border-radius: 0.8rem; 
                    
                }
            }

            .button-contact {
                background-color: #F67600;
            }

            .button-red {
                background-color: #DD1D1D;
            }
        }
    }
}
.header{
    width: 100%;
    top: 0;
    z-index: 9999; 
    padding: 3.2rem 4rem;
    position: sticky;
    background-color: white;
    gap: 10px;
    .container{
        .content{
         width: 100%;
        max-width: 144rem;
        margin: 0 auto;
        display: grid;
        row-gap: 3.2rem;
        .above {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                img{
                    width: 100%;
                }
            }
            .btn-icon{
                display: none;
                .phone-icon{
                    cursor: pointer;
                }
                .menu-icon {
                    cursor: pointer;
                    z-index: 1000;
                  
                }
            }
            .contact{
               gap: 1.2rem;
                display: flex;
                .phone{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 0.4rem;
                  font-weight: 700;
                  font-size: 3.6rem;
                  color: #f67600;
                }
                .time{
                    font-weight: 400;
                    font-size: 1.1rem;
                    line-height: 1.5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000000;
                }
                .phone:hover, .time:hover{
                    opacity: 70%;
                    transition: all 0.5s;
                }
                img{
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
        }
 
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        ul{
            width: 100%;
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }
        li {
          padding: 0;
            margin: auto;
            &:hover{
                opacity: 75%;
                transition: all 0.5s;
            }
        }
        a{
            text-decoration: none;
            color: black;
            
        }
    }
    .contact-btn{
        display: none;
    }
}
}
}


.main {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
.sec-one {
      width: 100%;
      height: 30rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      background: url(../img/AdobeStock.png) no-repeat center/cover;
      background-color: skyblue;
  
      .container {
          .content {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
  
              .reason {
                  color: white;
                  display: flex ;
                  flex-direction: column;
                  gap: 1.6rem;
                
  
                  h1 {
                    margin: 0 auto;
                    line-height: 1.3;
                    font-size: 4.8rem;
                    letter-spacing: 0.144rem;
  
                  }
  
                  br {
                      display: none;
                  }
  
                  p {
                    line-height: 1;
                    gap: 0.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    font-weight: 500;
                    letter-spacing: 0.096rem;
                      font-size: 2.4rem;
                      color: #F67600;
                      font-family: "Oswald", serif;
                     
                      &::before,
                      &::after {
                          content: "-"; 
                          font-size: 2.4rem;
                          font-weight: 500;
                          letter-spacing: 0.096rem;
                          color: #F67600;
                          font-family: "Oswald", serif;
                      }
                  }
                  
              }
          }
      }
  }
.sec-two{
    width: 100%;
    max-width: 112rem;
    margin: 0 auto;
    .container{
        .content{
          margin-bottom:  4.6875rem;
            .list{
                width: 100%;
                font-size: 1.2rem;
                color: #606060;
                
            }
            ul{
                display: flex;
                line-height: 1;
                gap: 0.8rem;
                padding: 2rem 0rem;
                list-style-type: none;
            }
            a{
                color: #000000;
            }
            .item a{
                color: #F67600;
            }
           
        }
    }
}
}
.contact1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/Rectangle1.png);
    background-size: cover;
    padding: 8rem 0;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    width: 100%;
  
    .container {
      .content {
        display: flex ;
            flex-direction: column;
            gap: 2.4rem;
        .contact-list {
          display: flex;
          margin: 0 auto;
          font-size: 2rem;
          justify-content: center;
          align-items: center;
          font-weight: 700;
        
  
          .contact-list__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
  
            span {
              display: inline-flex;
              align-items: center;
              justify-content: center;
            
              padding: 1rem 1.5rem;
              background: #FFFFFFCC;
              color: #000000;
              border-radius: 1rem;
              font-weight: 700;
              line-height: normal;
            }
  
            .no-bg {
              background: transparent;
              color: #FFFFFF;
              padding: 0;
              font-size: 2.4rem;
            }
          }
  
          .text-marker {
            font-size: 4.4rem;
            font-weight: bold;
            color: #ffe344;
            display: flex;
            gap: 0.4rem;
            .contact-list__last{
              display: none;
            }
            small {
              position: relative;
  
              &::after {
                content: "";
                width: 0.8rem;
                height: 0.8rem;
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: #ffe344;
                border-radius: 50%;
              }
            }
          }
          .contact-list__last1{
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.072rem;
          }
        }
  
        .contact-phone {
         
          display: flex;
          justify-content: center;
          align-items: center;
         gap: 1.2rem;
          color: #FFFFFF;
          
          &:hover {
            opacity: 60%;
            transition: all 0.5s;
          }
  
          .contact-phone__number {
            font-size: 6rem;
            font-weight:700;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;
          }
  
          .contact-phone__text {
            text-align: left;
            font-size: 1.2rem;
            color: #FFFFFF;
            margin: 0;
            line-height: 1.2;
            transform: translateY(0.7rem);
            span {
              font-size: 6rem;
          font-weight: 700;
          line-height: 1;
            }
          }
        }
  
        .contact-btn {
          display: flex;
          justify-content: center;
          gap: 2.4rem;
  
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 45.3rem;
            width: 100%;
            text-decoration: none;
            border-radius: 9.9rem;
            position: relative;
  
            img {
              width: 4rem;
              height: 4rem;
            }
          }
  
          .contact-btn__img {
            position: absolute;
            flex-shrink: 0;
            right: 2rem;
          }
  
          .contact-btn__orange {
            gap: 0.8rem;
            padding: 2.4rem 3.2rem;
            background-color: #F67600;
            span {
              font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.5;
          color:#FFFFFF;
            }
            &:hover {
              opacity: 80%;
              transition: all 0.5s;
            }
          }
  
          .contact-btn__red {
            gap: 0.8rem;
            padding: 2.4rem 3.2rem;
            background-color: #DD1D1D;
            span {
              font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.5;
          color:#FFFFFF;
            }
            &:hover {
              opacity: 80%;
              transition: all 0.5s;
            }
          }
        }
      }
    }
}
.footer {
    width: 100%;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.4rem 0;
  
    .container {
      
      .content {
        display: grid;
        row-gap: 4rem;
  
        .logo__footer {
          display: flex;
          align-items: center;
          justify-content: center;
  
          &:hover {
            opacity: 70%;
            transition: all 0.5s;
          }
        }
  
        .contact__footer {
          color: #ffffff;
         gap: 2.4rem;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
  
          span {
            display: block;
            color: #f67600;
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 700;
            letter-spacing: 0.06rem;

  
            br {
              display: none;
            }
          }
  
          .nd__footer {
            width: 100%;
            display: flex;
            gap: 4.8rem;
  
            .nd__footer1 {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 1.2rem;
  
              .bnr__footer2,
              .bnr__footer1 {
                width: 39.7rem;
                height: 10rem;
  
                &:hover {
                  opacity: 80%;
                  transition: all 0.5s;
                }
              }
  
             
            }
  
            .nd__footer2 {
              display: flex;
              gap: 2.4rem;
              font-weight: 700;
              font-size: 1.6rem;
              letter-spacing: 0.048rem;
              line-height: 1.8;
            }
  
            .p__footer {
              font-weight: 700;
              font-size: 1.6rem;
              letter-spacing: 0.048rem;
              line-height: 1.8;
            }
  
            .nd__footer p {
              display: inline-block;
              font-size: 1.5rem;
            }
          }
        }
  
        .nav__footer {
          width: 100%;
          color: white;
          display: flex;
          justify-content: space-between;
          line-height: 2;
          font-weight: 500;
          font-size: 1.4rem;
  
          .nav__list {
            display: flex;
            flex-direction: column;
  
            ul {
              list-style-type: none;
              padding: 0.5rem;
              margin: 0;
  
              li:hover {
                opacity: 70%;
              }
            }
  
            &:nth-child(1) ul,
            :nth-child(5) ul {
              padding: 0;
            }
  
            &:nth-child(2) ul,
            :nth-child(3) ul,
            :nth-child(4) ul {
              padding: 0 1rem;
            }
  
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
  
        .copy {
          color: #969696;
          text-align: center;
          font-size: 1.1rem;
        }
      }
    }
}
@media (max-width: 1080px) {
    .action-buttons{
      display: none;
  }
  .header{
    padding: 2.4rem 1.6rem 2.4rem 1.6rem;
  .container{
        .content{
        .above {
            .logo{
                img{
                  width: 100%;
                  max-width: 20.1rem;
                }
            }
            .btn-icon{
              display: flex !important;
              gap: 2rem;
              
                .phone-icon{
                  width: 2.4rem;
                  height: 2.4rem;
                }
                .menu-icon {
                  display: block !important;
                  width: 2.4rem;
                  height: 2.4rem;
                
                  span {
                    display: block;
                    width: 100%;
                    height: 0.4rem;
                    background-color: black;
                    margin: 0.35rem 0;
                    transition: all 0.3s ease;
                    position: relative;
                  }
                
                  &.open {
                    span:nth-child(1) {
                      transform: rotate(45deg);
                      top: 0.6rem;
                    }
                
                    span:nth-child(2) {
                      opacity: 0;
                    }
                
                    span:nth-child(3) {
                      transform: rotate(-45deg);
                      top: -0.9rem;
                    }
                  }
                }              
            }
            .contact{
              display: none;
                .phone{
                    max-width:27.2rem;
                    font-size: 3.6rem; 
                    color: #F67600;
                    font-weight: bold;
                }
                .time{
                    max-width: 15rem;
                    font-size: 1.1rem;
                    padding: 0.7rem 0.3rem;
                    transform: translateY(0.5rem);
                    color: #000000;
                }
                .phone:hover, .time:hover{
                    opacity: 70%;
                    transition: all 0.5s;
                }
                img{
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
        }
  
    .nav{
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      display: none;
      position: fixed;
      left: 0;
      top: 6%;
      z-index: 9999;
      background-color: white; 
        ul{
            width: 100%;
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }
        li {
            margin: auto;
            &:hover{
                opacity: 75%;
                transition: all 0.5s;
            }
        }
        a{
            padding: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
  
  
    .nav.open{
      display: block; 
        ul{
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          margin-top: 2rem;
        }
        li {
          border: 1px solid #cccccc;
          width: 50%;
          box-sizing: border-box;
            &:hover{
                opacity: 75%;
                transition: all 0.5s;
            }
        }
        a{
          padding: 2.4rem 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1;
            align-items: center;
            justify-content: center;
        }
    }
  
    .contact-btn{
        display: none;
    }
    .contact-btn.open{
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1.6rem;
      background-color: white;
      a{
        padding: 2rem;
        font-size: 1.5rem;
        width: 90%; 
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
      .contact-btn__orange{
        background-color: #F67600;
      }
      .contact-btn__red{
      background-color: #DD1D1D;
      }
      .contact-btn__img{
        position:absolute;
        right: 7rem;
      }
  }
  }
  }
  }
  .contact1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/Rectangle1.png);
    background-size: cover;
    padding: 4.8rem 0;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    width: 100%;
  
    .container {
      .content {
        display: flex ;
            flex-direction: column;
            gap: 2.4rem;
            .contact-list {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              font-size: 2rem;
              font-weight: 700;
              width: 100%;
              height: 3.8rem;
              max-width: 32.1rem;
              margin: 0 auto;
              gap: 0.6rem;
            
              .contact-list__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;
            
                span {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  background: #ffffffcc;
                  color: #000000;
                  border-radius: 1rem;
                  font-weight: 700;
                  line-height: normal;
                  font-size: 1.6rem;
                }
            
                .no-bg {
                  background: transparent;
                  color: #ffffff;
                  padding: 0;
                  font-size: 2rem;
                }
              }
            
              .contact-list__last-line {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.6rem;
              }
            
              .text-marker {
                font-size: 3.6rem;
                font-weight: 700;
                color: #ffe344;
                display: flex;
                gap: 0.4rem;
               
                .contact-list__last{
                  display:block;
                  font-size: 2.4rem;
                  font-weight: 700;
                }
                
                small {
                  position: relative;
            
                  &::after {
                    content: "";
                    width: 0.8rem;
                    height: 0.8rem;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #ffe344;
                    border-radius: 50%;
                  }
                }
              }
              .contact-list__last1{
                display:none;
              }
            
              .contact-list__last {
                font-size: 2.4rem;
                font-weight: 700;
                color: white;
              }
            }
            
            
  
            .contact-phone {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              
              color: #FFFFFF;
      
              &:hover {
                opacity: 60%;
                transition: all 0.5s;
              }
      
              .contact-phone__number {
                font-size: 4rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.4rem;
              }
      
              .contact-phone__text {
                font-size: 1.2rem;
                color: #FFFFFF;
                margin: 0;
                font-weight: 400;
                line-height: 1.5;
                
                br{
                  display: none;
                }
              }
            }
  
            .contact-btn {
              flex-direction: column;
              justify-content: center;
              gap: 2.4rem;
      
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45.3rem;
                height: 10.8rem;
                text-decoration: none;
                border-radius: 9.9rem;
                position: relative;
      
                img {
                  width: 4rem;
                  height: 4rem;
                }
              }
      
              .contact-btn__img {
                position: absolute;
                flex-shrink: 0;
                right: 2rem;
              }
      
              .contact-btn__orange {
                width: 90%;
                margin: 0 auto;
                gap: 0.8rem;
                padding: 2rem;
                background-color: #F67600;
                span {
                  font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.5;
              color:#FFFFFF;
                }
                &:hover {
                  opacity: 80%;
                  transition: all 0.5s;
                }
              }
      
              .contact-btn__red {
                width: 90%;
                margin: 0 auto;
                gap: 0.8rem;
                padding: 2rem;
                background-color: #DD1D1D;
                span {
                  font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.5;
              color:#FFFFFF;
                }
                &:hover {
                  opacity: 80%;
                  transition: all 0.5s;
                }
          }
        }
      }
    }
  }
  .footer {
    padding: 4.8rem 2rem 2.4rem 2rem;
  margin: 0 auto;
    .container {
      
      .content {
        display: grid;
         row-gap: 2.4rem;
  
        .logo__footer {
          display: flex;
          align-items: center;
          justify-content: center;
  
          &:hover {
            opacity: 70%;
            transition: all 0.5s;
          }
        }
  
        .contact__footer {
          color: #ffffff;
          line-height: 1.5;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
  
          span {
            display: block;
            color: #f67600;
            font-size: 1.6rem;
            text-align: center;
  
            br {
              display: inline !important;;
            }
          }
  
          .nd__footer {
            flex-direction: column;
            display: flex
            ;
              gap: 1.6rem;
            .nd__footer1 {
              margin: 0 auto;
              gap: 1.2rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
  
              .bnr__footer2,
              .bnr__footer1 {
                width: 39.7rem;
                height: 10rem;
  
                &:hover {
                  opacity: 80%;
                  transition: all 0.5s;
                }
              }
            }
  
            .nd__footer2 {
              display: block;
              align-self: flex-start;
            }
  
            .p__footer {
              display: flex;
              gap: 0.4rem;
              font-weight: bold;
              font-size: 1.5rem;
            }
  
            .nd__footer p {
              display: inline-block;
              font-size: 1.5rem;
            }
          }
        }
  
        .nav__footer {
      display: none;
        }
  
        .copy {
          color: #969696;
          text-align: center;
          font-size: 1.1rem;
        }
      }
    }
  }
  
  }
  @media (max-width: 768px) {
    .action-buttons{
      display: none;
  }
  .header{
    padding: 2.4rem 1.6rem 2.4rem 1.6rem;
  .container{
        .content{
        .above {
            .logo{
                img{
                  width: 100%;
                  max-width: 20.1rem;
                }
            }
            .btn-icon{
              display: flex !important;
              gap: 2rem;
              
                .phone-icon{
                  width: 2.4rem;
                  height: 2.4rem;
                }
                .menu-icon {
                  display: block !important;
                  width: 2.4rem;
                  height: 2.4rem;
                
                  span {
                    display: block;
                    width: 100%;
                    height: 0.4rem;
                    background-color: black;
                    margin: 0.35rem 0;
                    transition: all 0.3s ease;
                    position: relative;
                  }
                
                  &.open {
                    span:nth-child(1) {
                      transform: rotate(45deg);
                      top: 0.6rem;
                    }
                
                    span:nth-child(2) {
                      opacity: 0;
                    }
                
                    span:nth-child(3) {
                      transform: rotate(-45deg);
                      top: -0.9rem;
                    }
                  }
                }              
            }
            .contact{
              display: none;
                .phone{
                    max-width:27.2rem;
                    font-size: 3.6rem; 
                    color: #F67600;
                    font-weight: bold;
                }
                .time{
                    max-width: 15rem;
                    font-size: 1.1rem;
                    padding: 0.7rem 0.3rem;
                    transform: translateY(0.5rem);
                    color: #000000;
                }
                .phone:hover, .time:hover{
                    opacity: 70%;
                    transition: all 0.5s;
                }
                img{
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
        }
  
    .nav{
      width: 100%;
      overflow-y: auto;
      display: none;
      position: fixed;
      z-index: 9999;
      height: 100vh;
      top: 6%;
      left: 0;
      background-color: white; 
        ul{
            width: 100%;
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }
        li {
            margin: auto;
            &:hover{
                opacity: 75%;
                transition: all 0.5s;
            }
        }
        a{
            padding: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
  
  
    .nav.open{
      display: block;  
        ul{
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          margin-top: 2rem;
        }
        li {
          border: 1px solid #cccccc;
          width: 50%;
          box-sizing: border-box;
            &:hover{
                opacity: 75%;
                transition: all 0.5s;
            }
        }
        a{
          padding: 2.4rem 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1;
            align-items: center;
            justify-content: center;
        }
    }
  
    .contact-btn{
        display: none;
    }
    .contact-btn.open{
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1.6rem;
      background-color: white;
      a{
        padding: 2rem;
        font-size: 1.5rem;
        width: 90%; 
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
      .contact-btn__orange{
        background-color: #F67600;
      }
      .contact-btn__red{
      background-color: #DD1D1D;
      }
      .contact-btn__img{
        position:absolute;
        right: 7rem;
      }
  }
  }
  }
  }
  .contact1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/Rectangle1.png);
    background-size: cover;
    padding: 4.8rem 0;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    width: 100%;
  
    .container {
      .content {
        display: flex ;
            flex-direction: column;
            gap: 2.4rem;
            .contact-list {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              font-size: 2rem;
              font-weight: 700;
              width: 100%;
              height: 3.8rem;
              max-width: 32.1rem;
              margin: 0 auto;
              gap: 0.6rem;
            
              .contact-list__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;
            
                span {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  background: #ffffffcc;
                  color: #000000;
                  border-radius: 1rem;
                  font-weight: 700;
                  line-height: normal;
                  font-size: 1.6rem;
                }
            
                .no-bg {
                  background: transparent;
                  color: #ffffff;
                  padding: 0;
                  font-size: 2rem;
                }
              }
            
              .contact-list__last-line {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.6rem;
              }
            
              .text-marker {
                font-size: 3.6rem;
                font-weight: 700;
                color: #ffe344;
                display: flex;
                gap: 0.4rem;
               
                .contact-list__last{
                  display:block;
                  font-size: 2.4rem;
                  font-weight: 700;
                }
                
                small {
                  position: relative;
            
                  &::after {
                    content: "";
                    width: 0.8rem;
                    height: 0.8rem;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #ffe344;
                    border-radius: 50%;
                  }
                }
              }
              .contact-list__last1{
                display:none;
              }
            
              .contact-list__last {
                font-size: 2.4rem;
                font-weight: 700;
                color: white;
              }
            }
            
            
  
            .contact-phone {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              
              color: #FFFFFF;
      
              &:hover {
                opacity: 60%;
                transition: all 0.5s;
              }
      
              .contact-phone__number {
                font-size: 4rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.4rem;
              }
      
              .contact-phone__text {
                font-size: 1.2rem;
                color: #FFFFFF;
                margin: 0;
                font-weight: 400;
                line-height: 1.5;
                
                br{
                  display: none;
                }
              }
            }
  
            .contact-btn {
              flex-direction: column;
              justify-content: center;
              gap: 2.4rem;
      
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45.3rem;
                height: 10.8rem;
                text-decoration: none;
                border-radius: 9.9rem;
                position: relative;
      
                img {
                  width: 4rem;
                  height: 4rem;
                }
              }
      
              .contact-btn__img {
                position: absolute;
                flex-shrink: 0;
                right: 2rem;
              }
      
              .contact-btn__orange {
                width: 90%;
                margin: 0 auto;
                gap: 0.8rem;
                padding: 2rem;
                background-color: #F67600;
                span {
                  font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.5;
              color:#FFFFFF;
                }
                &:hover {
                  opacity: 80%;
                  transition: all 0.5s;
                }
              }
      
              .contact-btn__red {
                width: 90%;
                margin: 0 auto;
                gap: 0.8rem;
                padding: 2rem;
                background-color: #DD1D1D;
                span {
                  font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.5;
              color:#FFFFFF;
                }
                &:hover {
                  opacity: 80%;
                  transition: all 0.5s;
                }
          }
        }
      }
    }
  }
  .footer {
    padding: 4.8rem 2rem 2.4rem 2rem;
  margin: 0 auto;
    .container {
      
      .content {
        display: grid;
         row-gap: 2.4rem;
  
        .logo__footer {
          display: flex;
          align-items: center;
          justify-content: center;
  
          &:hover {
            opacity: 70%;
            transition: all 0.5s;
          }
        }
  
        .contact__footer {
          color: #ffffff;
          line-height: 1.5;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
  
          span {
            display: block;
            color: #f67600;
            font-size: 1.6rem;
            text-align: center;
  
            br {
              display: inline !important;;
            }
          }
  
          .nd__footer {
            flex-direction: column;
            display: flex
            ;
              gap: 1.6rem;
            .nd__footer1 {
              margin: 0 auto;
              gap: 1.2rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
  
              .bnr__footer2,
              .bnr__footer1 {
                width: 39.7rem;
                height: 10rem;
  
                &:hover {
                  opacity: 80%;
                  transition: all 0.5s;
                }
              }
            }
  
            .nd__footer2 {
              display: block;
              align-self: flex-start;
            }
  
            .p__footer {
              display: flex;
              gap: 0.4rem;
              font-weight: bold;
              font-size: 1.5rem;
            }
  
            .nd__footer p {
              display: inline-block;
              font-size: 1.5rem;
            }
          }
        }
  
        .nav__footer {
      display: none;
        }
  
        .copy {
          color: #969696;
          text-align: center;
          font-size: 1.1rem;
        }
      }
    }
  }
  
  }
  
  @media (max-width: 420px) {
    .action-buttons{
      display: none;
  }
  .header{
    padding: 2.4rem 1.6rem 2.4rem 1.6rem;
  .container{
        .content{
        .above {
            .logo{
                img{
                  width: 100%;
                  max-width: 20.1rem;
                }
            }
            .btn-icon{
              display: flex !important;
              gap: 2rem;
              
                .phone-icon{
                  width: 2.4rem;
                  height: 2.4rem;
                }
                .menu-icon {
                  display: block !important;
                  width: 2.4rem;
                  height: 2.4rem;
                
                  span {
                    display: block;
                    width: 100%;
                    height: 0.4rem;
                    background-color: black;
                    margin: 0.35rem 0;
                    transition: all 0.3s ease;
                    position: relative;
                  }
                
                  &.open {
                    span:nth-child(1) {
                      transform: rotate(45deg);
                      top: 0.6rem;
                    }
                
                    span:nth-child(2) {
                      opacity: 0;
                    }
                
                    span:nth-child(3) {
                      transform: rotate(-45deg);
                      top: -0.9rem;
                    }
                  }
                }              
            }
            .contact{
              display: none;
                .phone{
                    max-width:27.2rem;
                    font-size: 3.6rem; 
                    color: #F67600;
                    font-weight: bold;
                }
                .time{
                    max-width: 15rem;
                    font-size: 1.1rem;
                    padding: 0.7rem 0.3rem;
                    transform: translateY(0.5rem);
                    color: #000000;
                }
                .phone:hover, .time:hover{
                    opacity: 70%;
                    transition: all 0.5s;
                }
                img{
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
        }
  
    .nav{
      width: 100%;
      z-index: 9999;
      height: 100vh;
      top: 6%;
      overflow-y: auto;
      display: none;
      position: fixed;
      left: 0;
      background-color: white; 
        ul{
            width: 100%;
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }
        li {
            margin: auto;
            &:hover{
                opacity: 75%;
                transition: all 0.5s;
            }
        }
        a{
            padding: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
  
  
    .nav.open{
      display: block; 
      top: 5%;  
        ul{
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          margin-top: 2rem;
        }
        li {
          border: 1px solid #cccccc;
          width: 50%;
          box-sizing: border-box;
            &:hover{
                opacity: 75%;
                transition: all 0.5s;
            }
        }
        a{
          padding: 2.4rem 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1;
            align-items: center;
            justify-content: center;
        }
    }
  
    .contact-btn{
        display: none;
    }
    .contact-btn.open{
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1.6rem;
      background-color: white;
      a{
        padding: 2rem;
        font-size: 1.5rem;
        width: 90%; 
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
      .contact-btn__orange{
        background-color: #F67600;
      }
      .contact-btn__red{
      background-color: #DD1D1D;
      }
      .contact-btn__img{
        position:absolute;
        right: 7rem;
      }
  }
  }
  }
  }
  
  }